/**
 * .topnav {
 * 	background-color: #fffefe;
 * 	display: flex;
 * 	align-items: flex-end;
 * 	justify-content: space-between;
 * 
 * 	 
 * }
 * 
 * 
 * .topnav p {
 * 	float: left;
 * 	color: #000000;
 * 	text-align: center;
 * 	padding: 14px 16px;
 * 	text-decoration: none;
 * 	font-size: 20px;
 * 	font-weight: bold;
 * 	border: 2px solid rgba(40, 233, 214, 0.73);
 * 	border-radius: 10px;
 * 	margin: 10px;
 * }
 *  .topnav .logo {
 * 	float: right;
 * 	width: 50px;
 * 	height: 50px;
 * 	margin: 10px;
 * }
 * .logo img {
 * 	width: 100%;
 * }
 *
 * @format
 */

/* .header {
	text-align: center;
}
.logo {
	height: 50px;
}
.header nav {
	background-color: black;
	line-height: 40px;
}
.header nav a {
	background-color: rgb(0, 0, 0);
	border-radius: 10px;
	text-decoration: none;
	color: white;
	margin-right: 20px;
	padding: 5px;
	font-size: 20px;
}
.header nav a:hover {
	background-color: lightgoldenrodyellow;
	color: black;
} */
.namez {
  top: 2%;
  position: fixed;
  left: 5%;
  background-image: linear-gradient(to right, #00f5b7 0%, #263f60 51%, #00f5b7 100%);
  padding: 15px 45px;
  text-transform: uppercase;
  transition: 0.5s;
  width: 20%;
  margin: auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}
.header {
  padding: 15px;
  display: flex;
  top: 0%;
  position: fixed;
  right: 35%;
  background: white;
  background-color: rgb(254, 254, 254);
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}
.header .logo .img-logo {
  margin: 60px;
}
.header img {
  width: 50px;
  margin: 0px 10px;
}
.header .menu a {
  text-decoration: none;
  color: rgb(67, 63, 63);
  margin: 10px;
  padding: 10px;

  font-weight: 400;
  border-bottom: 2.5px solid rgba(42, 42, 41, 0.73);
}
.header .menu a:hover {
  color: rgb(0, 0, 0);
  border-bottom: 2.5px solid rgb(0, 0, 0);
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}
